body{
	color: #333;
	padding: 20PX;
	background:#00ffec;
	font-family: algerian;
}

h1{
	text-align: center;
	color: pink;
}

p{
	text-align: right;
}

.first {
	text-align: right;
}
h2{color:olive;
}
table,th,td{border: 1px solid black;
            width: 100%;
}
nav{text-align: center;
Justify-content: center;
Padding: 0;
Margin: 0;
Font-weight: bold;
}
.project{
	background: white;
display: flex;15px
gap: 15px;
padding: 15px;
}
.project h2{color: blue;
margin-bottom:8px; 
}
.project p{
	color: salmon;
	margin-bottom: 10px;
}
.project-content{flex: 1
}
.project image{width:100px; height:100px 
boeder radius:10px;
}
.project-link{background-color:gold; border-radius: 5px; display:inline-block;
}
footer{font-size: 14px;}