body{
	color: red;
	background-color: aqua;
	font-family: arial;
}

h1{
	text-align: center;
	color: olive;
}

p{
	text-align: right;
}

.first {
	text-align: right;
}
h2{color:ghostwhite;
}
table,th,td{border: 1px solid black;
            width: 100%;
}
nav{text-align: center;
Justify-content: center;
Padding: 0;
Margin: 0;
Font-weight: bold;
}